@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");

.MuiAppBar-colorPrimary {
  background-color: rgb(10, 1, 1) !important;
  height: 55px;
  box-shadow: rgba(56, 54, 54, 0.877) 0px 3px 8px !important;
}
.MuiAvatar-root {
  height: 25px !important;
  width: 25px !important;
  cursor: pointer !important;
}
.MuiSvgIcon-root {
  height: 25px !important;
  width: 25px !important;
  cursor: pointer !important;
}
.thisone > .MuiPaper-root {
  background: black !important;
  color: #ffffff !important;
  border-radius: 3px;
  margin-top: 10px !important;
  box-shadow: rgba(57, 57, 61, 0.692) 0px 6px 12px -2px,
    rgba(228, 207, 207, 0.836) 0px 3px 7px -3px !important;
}
.MuiButtonBase-root:hover {
  background-color: rgb(39, 39, 39) !important;
}
.nav__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  flex: 1;
}
.nav__left {
  margin-top: 10px;
  margin-left: 20px;
}
.nav__left > img {
  width: 120px;
}
.nav__center {
  display: flex;
  background-color: rgb(26, 24, 21);
  border: 0.5px solid rgb(87, 86, 86);
  justify-content: center;
  width: 190px;
  border-radius: 2px;
  margin-left: 50px;
}
.nav__center > input {
  background-color: transparent;
  border: none;
  width: 60px;
  color: #ffffff;
  transition: all 0.5s;
}
.nav__center > .MuiSvgIcon-root {
  width: 18px !important;
}

.nav__center > input:focus {
  outline: none;
  width: 150px;
}
.nav__right > img {
  width: 22px;
  height: 22px;
}
.nav__right {
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  flex: 0.4;
}
.MuiDialog-paper {
  width: 350px;
  height: 350px;
  border-radius: 10px;
  background-color: #0a0909 !important;
  box-shadow: rgba(221, 221, 243, 0.87) 0px 13px 27px -5px,
    rgba(206, 202, 202, 0.918) 0px 8px 16px -8px !important;
}
.postpage {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  text-align: center;
  color: #fafafa;
  /* margin: auto; */
  /* align-items: center; */
}
.postpage > h1 {
  font-family: "Grand Hotel", cursive;
  font-weight: normal;
  font-size: 40px;
}
.posthere {
  display: flex !important;
  flex-direction: column !important;
  justify-content: center;
  margin: auto;
  padding: 30px;
}
.posthere > input {
  border: none;
  border-bottom: 1px solid rgb(230, 227, 227);
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 10px;
  background: transparent;
  color: #ffffff;
}

.posthere > input:focus {
  outline: none;
  border-bottom: 3px solid rgb(45, 69, 146);
  margin-top: 20px;
  margin-bottom: 20px;
}
.posthere > button {
  width: 120px;
  height: 40px;
  background-color: transparent;
  border: 1px solid bisque;
  color: #ffffff;
  margin-top: 20px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  border-radius: 2px;
  transition: all 0.5s ease-in-out;
}

.posthere > button:hover {
  transform: scale(1.03);
  /* background: linear-gradient(0.25turn, #3f87a6, #ebf8e1, #f69d3c);
   */
  border: none;
  background: linear-gradient(45deg, #faf4f4, #0a0a0a);
}

@media screen and (max-width: 1100px) {
  .nav__container {
    width: 80%;
  }
  .nav__right {
    flex: 0.4;
  }
}
@media screen and (max-width: 1000px) {
  .nav__container {
    width: 90%;
  }
  .nav__right {
    flex: 0.5;
  }
}

@media screen and (max-width: 900px) {
  .nav__container {
    width: 100%;
  }
  .nav__right {
    flex: 0.5;
  }
}
@media screen and (max-width: 600px) {
  .nav__center {
    display: none;
  }
  .nav__right {
    flex: 0.6;
  }
}

@media screen and (max-width: 400px) {
  .nav-left {
    margin-left: 40px;
  }
  .nav__right {
    flex: 0.7;
  }
}
